h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0
}

body,
button,
input,
select,
textarea {
    font: 12px/1.5 tahoma, arial, /5b 8b/4f 53, sans-serif
}

address,
cite,
dfn,
em,
var {
    font-style: normal
}

code,
kbd,
pre,
samp {
    font-family: courier new, courier, monospace
}

small {
    font-size: 12px
}

ul,
ol {
    list-style: none
}

a {
    text-decoration: none
}

legend {
    color: #000
}

fieldset,
img {
    border: 0
}

button,
input,
select,
textarea {
    font-size: 100%
}

input,
textarea,
select {
    -webkit-transition: background-color 0s !important;
    transition: background-color 0s !important
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    box-shadow: 0 0 0 5rem white inset !important
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: YouYuan, sans-serif;
}

body {
    background: url(background.jpg) no-repeat fixed;
    background-position: center center;
    background-size: 100% 100%;
    box-sizing: border-box;
    padding: 66px 0 0
}

#page_hd {
    width: 100%;
    height: 65px;
    margin: -66px 0 0;
    line-height: 65px;
    background-color: white;
    border-bottom: 1px solid #fffe55
}

#page_hd img {
    float: left;
    margin-left: 20px;
    margin-top: 4px
}

#page_hd p {
    float: left;
    margin-left: 5px;
    margin-right: 45px;
    font-size: 20px;
}

#page_hd a {
    float: left;
    margin-right: 18px;
    font-size: 15px;
    color: #505050
}

#page_hd a:hover {
    color: #000000;
    text-decoration: underline;
}

#page_hd #admin {
    float: right;
    margin-right: 18px;
    font-size: 14px;
}

#page_hd #logout {
    float: right;
    margin-right: 18px;
    font-size: 14px;
    color: #e40404
}

#page_bd {
    width: 100%;
    height: 100%;
}

#page_bd .login-box {
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

#page_bd .login-box .form-group {
    width: auto;
    height: 45px;
    margin-top: 16px;
    margin-bottom: 16px;
    white-space: nowrap;
}

#page_bd .login-box .form-group .form-input {
    line-height: 16px;
    width: 80%;
    height: 100%;
    outline: none;
    padding-left: 10px;
    border: 1px solid #e0e0e0
}

#page_bd .login-box .form-group .form-input:focus {
    border: 1px solid #bbeeff
}

#page_bd .login-box .form-group .btn {
    width: 50%;
    height: 100%;
    color: white;
    border: 1px solid #f0f0f0;
    background: #fe4747;
}

#page_bd .login-box .form-group .btn:hover {
    background: #ff6666;
}

#page_bd .itemlist {
    width: 85%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#page_bd .itemlist .item {
    width: 100%;
    height: 200px;
    background-color: white;
    margin-top: 20px;
}

#page_bd .itemlist .item .item-hd {
    width: 100%;
    height: 45px;
    line-height: 45px;
    background-color: #edf7fa
}

#page_bd .itemlist .item .item-hd p {
    float: left;
    font-size: 14px;
    margin-left: 8px;
}

#page_bd .itemlist .item .item-hd img {
    float: left;
    height: 45%;
    margin-top: 12px;
    margin-left: 20px;
}

#page_bd .itemlist .item .item-hd a {
    float: right;
    height: 90%;
    margin-top: 2px;
    margin-right: 15px;
}

#page_bd .itemlist .item .item-bd {
    width: 100%;
    height: 155px;
    display: table-cell;
    vertical-align: middle;
    overflow-x: auto;
    white-space: nowrap;
}

#page_bd .itemlist .item .item-bd img {
    height: 85%;
    width: 0;
    padding-left: 85%;
    margin-left: 15px;
    vertical-align: middle;
}
